@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

header {
  padding-top: 0;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000;
}

.promo-bar.position-fixed {
  top: 0;
}

.main-navbar.position-fixed {
  top: 50px;
}

/* PROMO BAR */

.promo-bar {
  width: 100%;
  height: 50px;
  padding: 0 5%;
  background: linear-gradient(90deg, #8bd5c3, #6bcab5);
  border-top: 4px solid #111;
}

.promo-text {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.promo-links {
  gap: 18px;
}

.promo-links a {
  gap: 9px;
  color: #111;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}

.promo-links i {
  font-size: 20px;
}

.divider {
  width: 0.5px;
  height: 20px;
  background-color: #111;
}

/* MAIN NAVBAR */

.main-navbar {
  width: 100%;
  height: 66px;
  padding: 0 4.2%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

/* Logo */

.logo {
  margin-right: 38px;
}

/* Navigation */

.nav-links {
  gap: 25px;
  height: 100%;
}

.nav-links a {
  height: 100%;
  color: #111;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-links a:hover {
  color: #ff2875;
}

/* =========================
   BRANDS
========================= */

.brands-dropdown {
  width: 1160px;
  height: 500px;
  background-color: #f3f3f3;
  top: 40px;
  left: -235px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.brand-dropdown-column {
  width: 100%;
  height: 100%;
}

.brands-card {
  width: 300px;
  height: 500px;
  background-color: #fff;
}

.search-brands {
  padding: 10px;
}

.search-box-brands {
  width: 100%;
  height: 40px;
  margin-left: auto;
  padding: 0 15px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.search-box-brands i {
  font-size: 18px;
  color: #777;
}

.search-box-brands input {
  width: 100%;
  padding-left: 18px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #555;
}

.divider-brands {
  width: 100%;
  height: 0.5px;
  background-color: #b1b1b5;
  margin-top: 20px;
}

.left-side-brand {
  padding: 10px;
}

.brand-name {
  gap: 10px;
}

.brand-name-title {
  margin-bottom: 30px;
  color: #a5a3a3;
}

.brand-alphabate {
  gap: 5px;
  color: #a5a3a3;
}

.right-side-brand {
  padding: 20px 20px 20px 20px;
  flex: 1;
}

.brand-group-btn {
  width: 100%;
}

.brand-btn {
  width: 170px;
  height: 40px;
  border: none;
  background-color: #b8b6b6;
  cursor: pointer;
}

.brand-btn a {
  font-weight: bold;
  text-decoration: none;
}

.brand-btn:hover,
.brand-btn:hover a {
  background-color: #ed2c82;
  color: #fff;
}

.brand-tags-logo {
  margin-top: 30px;
}

.brand-tags-logo img {
  width: 156px;
  height: 80px;
  padding: 10px;
  cursor: pointer;
}

.brands-item:hover .brands-dropdown {
  opacity: 1;
  visibility: visible;
}

.brands-item:hover::after {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

/* LUXE */

.luxe-dropdown {
  width: 1160px;
  height: 500px;
  top: 40px;
  left: -310px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.luxe-item:hover .luxe-dropdown {
  opacity: 1;
  visibility: visible;
}

.luxe-dropdown-column {
  width: 100%;
  height: 100%;
}

.luxe-menu-left {
  width: 290px;
  padding: 20px 24px;
}

.luxe-menu-right {
  width: 280px;
  padding: 20px;
  background-color: #f7f7f7;
}

.luxe-menu-section {
  gap: 8px;
  margin-bottom: 35px;
}

.luxe-menu-section h3 {
  margin: 0 0 2px;
  font-size: 17px;
  font-weight: 600;
  color: #343445;
}

.luxe-menu-section span {
  font-size: 15px;
  color: #858592;
  cursor: pointer;
}

.luxe-menu-section span:hover {
  color: #ed2c82;
}

.luxe-item:hover::after {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

/* NYKAA FASHION */

.fashion-dropdown {
  width: 1160px;
  height: 500px;
  top: 40px;
  left: -370px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.2s ease;
}

.fashion-item:hover .fashion-dropdown {
  opacity: 1;
  visibility: visible;
}

.fashion-menu-column {
  width: 200px;
  padding: 20px 20px;
  box-sizing: border-box;
  border-right: 1px solid #e5e5e5;
}

.fashion-menu-section {
  gap: 7px;
  margin-bottom: 28px;
}

.fashion-menu-section h3 {
  margin: 0 0 2px;
  font-size: 17px;
  font-weight: 600;
  color: #29293a;
}

.fashion-menu-section span {
  font-size: 15px;
  line-height: 1.25;
  color: #858592;
  cursor: pointer;
}

.fashion-menu-section span:hover {
  color: #ed2c82;
}

.fashion-brands {
  margin-bottom: 25px;
}

.fashion-menu-banner {
  width: 340px;
  height: 100%;
  padding: 20px;
  background-color: #fff;
}

.fashion-menu-banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.fashion-item:hover::after {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

/* BEAUTY ADVICE */

.beauty-dropdown {
  position: fixed;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  width: 885px;
  height: 340px;
  background: #fff;
  gap: 74px;
  padding: 30px 60px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.beauty-item:hover .beauty-dropdown {
  opacity: 1;
  visibility: visible;
}

.beauty-card {
  width: 360px;
  flex-shrink: 0;
  cursor: pointer;
}

.beauty-card img {
  width: 360px;
  height: 225px;
  object-fit: cover;
  border-radius: 10px;
}

.beauty-card h3 {
  margin: 17px 0 5px;
  color: #30303a;
  font-size: 17px;
  font-weight: 500;
}

.beauty-card p {
  margin: 0;
  color: #777;
  font-size: 15px;
  font-weight: 400;
}
.beauty-card:hover img {
  border: 2px solid #ed2c82;
}

.beauty-card:hover h3,
.beauty-card:hover p {
  color: #ed2c82;
}

.beauty-item:hover::after {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

/* SEARCH */

.search-box {
  width: 250px;
  height: 40px;
  margin-left: auto;
  padding: 0 14px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.search-box i {
  font-size: 18px;
  color: #777;
}

.search-box input {
  width: 100%;
  padding-left: 18px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #555;
}

.search-box input::placeholder {
  color: #666;
}

/*  USER */

.user-box {
  gap: 8px;
  margin-left: 28px;
  font-size: 20px;
}

.user-box i {
  font-size: 18px;
  cursor: pointer;
}

/*  SHOPPING BAG */

.bag {
  margin-left: 38px;
  font-size: 18px;
  color: #111;
  cursor: pointer;
}

/* CATEGORY BAR */

.category-bar {
  width: 100%;
  height: 50px;
  gap: 20px;
  padding: 0 5%;
  margin-top: 116px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  overflow: visible;
}

.category-bar > a {
  color: #686875;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}

.category-bar > a:hover {
  color: #ff2875;
}

.category-item {
  height: 100%;
}

.category-item > a {
  height: 100%;
  color: #686875;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}

.category-item:hover > a {
  color: #ff2875;
}

/* MAKEUP / CATEGORY DROPDOWN */

.makeup-dropdown {
  display: none;
  top: 50px;
  left: 85px;
  width: 1090px;
  min-height: 500px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  backdrop-filter: blur(20px);
  z-index: 10;
}

.category-item:hover .makeup-dropdown {
  display: flex;
}

/* Dropdown Columns */

.dropdown-column {
  width: 16.6666%;
  min-height: 590px;
  padding: 10px 10px 10px 10px;
  border-right: 1px solid #eee;
}

.dropdown-column:last-child {
  border-right: none;
}

.dropdown-column:nth-child(even) {
  background-color: #f7f7f7;
}

/* Dropdown Heading */

.dropdown-column h3 {
  margin-bottom: 8px;
  color: #343446;
  font-size: 14px;
  font-weight: 600;
}

/* Dropdown Links */

.dropdown-column a {
  display: block;
  margin-bottom: 5px;
  color: #858593;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.45;
}

.dropdown-column a:hover {
  color: #ff2875;
}

/* Other Heading */

.dropdown-heading {
  margin-top: 28px;
}

/* Sale */

.sale {
  width: 60px;
  height: 30px;
  color: white !important;
  font-size: 14px !important;
  font-weight: bold;
  background: #ed2c82;
  clip-path: polygon(8% 15%, 93% 8%, 100% 45%, 91% 90%, 8% 95%, 0% 55%);
}

/* SALE BAR */

.sale-bar {
  width: 100%;
  height: 40px;
  overflow: hidden;
  background: #b8f0d0;
  animation: bgChange 3s linear infinite;
}

.sale-track {
  width: 100%;
  white-space: nowrap;
  animation: saleMove 8s linear infinite;
}

.sale-track span {
  font-size: 16px;
  font-weight: 700;
  margin: 0 20px;
}

.sale-track b {
  font-size: 14px;
  font-weight: 700;
}

/* TEXT MOVEMENT */

@keyframes saleMove {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-60%);
  }
}

/* BACKGROUND CHANGE */

@keyframes bgChange {
  0% {
    background: #b8f0d0;
  }

  50% {
    background: #f4e7ad;
  }

  100% {
    background: #b8f0d0;
  }
}

/* HERO  */

.hero {
  width: 100%;
  padding: 20px 3.7%;
  background: #fff;
}

.hero-container {
  gap: 18px;
}

.hero-card {
  overflow: hidden;
  border-radius: 17px;
  cursor: pointer;
}

.hero-card img {
  width: 100%;
  height: 100%;
}

.hero-text {
  left: 25px;
  bottom: 28px;
  color: #fff;
}

.hero-text h2 {
  margin: 0;
  font-size: 22px;
  line-height: 1.05;
  font-weight: 700;
}

.hero-text p {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 1.1;
}

/* OFFER SECTION */

.offer-section {
  grid-column: span 2;
  width: 100%;
  overflow: hidden;
  padding-left: 35px;
}

.offer-slider {
  width: 200%;
  gap: 30px;
  animation: offerSlide 6s infinite;
}

.offer-slide {
  width: 50%;
  padding: 0 30px 0 10px;
}

.offer-slide img {
  width: 100%;
  height: auto;
}

.offer-slide2 {
  width: 50%;
  padding-right: 48px;
}

.offer-slide2 img {
  width: 100%;
  height: auto;
}

@keyframes offerSlide {
  0%,
  40% {
    transform: translateX(0);
  }

  50%,
  90% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

/* DEALS SECTION */

.deals-section {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.deals-top {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 0px;
  cursor: pointer;
}

.deals-top > img {
  width: 100%;
  height: 60px;
  font-size: 50px;
}

.deals-slider {
  width: 100%;
  overflow: hidden;
  gap: 20px;
  padding-left: 55px;
}

.deals-slide {
  width: 500px;
  height: 284px;
  cursor: pointer;
}

.deals-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

/* MAMONDE */

.mamonde-header img {
  width: 100%;
}

.mamonde-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mamonde-card {
  gap: 15px;
  margin: 0 50px;
}
.card-item {
  width: 155px;
  height: 270px;
  margin: 30px 0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}
.card-images {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}
.card-images img {
  width: 100%;
  background-color: #928f8f;
  border-radius: 10px;
  background-size: cover;
}
.card-details h3 {
  font-size: 15px;
  margin: 10px 3px;
}
.card-details p {
  font-size: 13px;
  margin: 0 3px;
  color: #929393;
}
.card-details .quantity img {
  width: 20px;
  margin: 10px 5px 0 3px;
}
.card-details .quantity .quantity-resio {
  padding: 15px 0 0 0;
}
.card-details .rupee {
  color: #000;
  margin-top: 5px;
  margin-left: 3px;
  font-weight: bold;
  font-size: 15px;
}
/* Best Brands section */
.best-brand-main {
  width: 100%;
  /* height: 700px; */
  background-color: #c3ecdc;
  margin-top: -5px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  gap: 15px;
}

.best-brand-main > :nth-child(6) {
  grid-column: 2;
}

.best-brand-main > :nth-child(7) {
  grid-column: 3;
}

.best-brand-main > :nth-child(8) {
  grid-column: 4;
}
.best-brands .best-brand-header img {
  width: 100%;
}

.best-brands-card {
  width: 175px;
  height: 300px;
  /* border: 2px solid red; */
  border-radius: 10px;
}
.best-brand-images img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.best-brands-details h3 {
  margin: 10px 0 0 0;
  font-size: 20px;
  /* letter-spacing: 1px; */
}
.best-brands-details p {
  font-size: 16px;
  color: #787674;
}

/* FOOTER */

.nykaa-footer {
  width: 100%;
}

/* TOP FOOTER */

.footer-top {
  width: 100%;
  height: 150px;
  background: #373d43;
  color: #fff;
  padding: 0 40px;
}

.footer-top-inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* gap: 55px; */
}

.footer-top h4 {
  margin: 0 0 7px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 20px;
}



/* Email */
.footer-subscribe h4{
  font-size: 14px;
}
.footer-subscribe h4 svg {
  margin-right: 10px;
}

.email-form {
  gap: 12px;
}

.email-form input {
  width: 235px;
  height: 30px;
  padding: 0 8px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.email-form input::placeholder {
  color: #fff;
  opacity: 1;
}

.email-form button {
  width: 70px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 2px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}


/* App */

.footer-app h4 svg{
  margin-right: 10px;
}

.app-buttons {
  gap: 5px;
}

.footer-help h4 svg{
  margin-right: 10px;
}

.footer-help strong {
  font-size: 14px;
  margin: 3px 0 0 31px;
}

.footer-help p {
  margin: 3px 0 0 31px;
  font-size: 14px;
}
/* FOOTER LINKS*/

.footer-links {
  width: 100%;
  height: 400px;
  background: #5c6268;
  color: #fff;
}

.footer-links-inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 70px;
}

.footer-column {
  width: auto;
  flex-direction: column;
  gap: 10px;
}
.footer-column svg{
  margin-bottom: 20px;
}

.footer-column h3 {
  margin: 0 0 12px;
  font-size: 14px;
  font-weight: 600;
}

.footer-column a {
  margin-bottom: 6px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 1;
}

.footer-column a:hover {
  text-decoration: underline;
}


/* BENEFITS */

.footer-benefits {
  width: 100%;
  height: 150px;
  background: #f7f7f7;
}

.benefits-inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 70px;
}


/* Benefit */

.benefit {
  gap: 8px;
}

.benefit-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  /* border-radius: 50%; */
  /* background: #e90071; */
  /* color: #fff; */
  /* font-size: 25px; */
}

.benefit h4 {
  width: 120px;
  margin: 0 0 4px;
  color: #555;
  font-size: 14px;
  font-weight: 600;
}

.benefits-divider{
  width: 110px;
  height: 0.5px;
  background: red;
  margin-top: 7px;
  margin-bottom: 10px;
}

.benefit p {
  margin: 0;
  color: #777;
  font-size: 12px;
  line-height: 1.4;
}


/* Social */

.social-section {
  text-align: center;
}

.social-section p {
  margin: 0 0 8px;
  color: #444;
  font-size: 14px;
  width: 210px;
}

.social-icons {
  gap: 7px;
}

/* FOOTER BOTTOM */

.footer-bottom {
  width: 100%;
  height: 100px;
  padding-top: 8px;
  background: #ed0072;
  color: #fff;
  text-align: center;
  align-content: center;
}

.footer-policy {
  gap: 18px;
}

.footer-policy a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.footer-policy a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin: 8px 0 0;
  font-size: 12px;
}